*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    height: 100vh;
}
body{
    font-size: 1.6rem;
    height: 100vh;
}
body::-webkit-scrollbar {
    display: none;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.main{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0; //スマホのとき
    -webkit-overflow-scrolling:touch;
}
.cover{
    height: 700vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    div {
        min-height: calc(100% / 7);
        height: auto;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        button{
            height: 6rem;
            width: 6rem;
            font-size: 5rem;
            background-color: #fff;
            border: solid 0.1rem #000;
            border-radius: 50%;
            z-index: 3;
            position: absolute;
            text-align: center;
            bottom: 4rem;
            pointer-events:auto;
        }
        video{
            position: absolute;
            right: 0;
            bottom: 0;
            min-width: 100vw;
            min-height: 100vh;
            width: auto;
            height: auto;
            z-index: -999;
            background-size: cover;
        }
    }
    transition: 1.5s;
}
@for $num from 1 to 8 {
    .c_#{$num} {
        top: -100vh * $num + 100vh
    }
}
@for $num  from 1 to 8 {
    .in_cover#{$num} {
        section{
            opacity: 1;
            transition: 1s
        }
    }
}
.on{
    section{
        opacity: 1;
    }
}

.in_cover1{
    section{
        h1 {
            font-size: 80px;
        }
    }
}
.in_cover2{
    section{
        text-align: center;
        width: 100rem;
        pointer-events : none;
        header {
            height: 60px;
            font-size: 5rem;
            font-weight: bold;
            color: #000;
            text-shadow: 10px 10px 10px rgba(0,0,0,0.4);
            transition: 0.5s;
        }
        .work{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            pointer-events : none;
            position: static;
            .img_area {
                width: calc(50% - 2rem);
                height: auto;
                padding: 1rem;
                pointer-events:auto;
                transition: 0.5s;
                .img1{
                    width: 100%;
                    height: auto;
                    transition: 0.5s;
                    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
                }
                .img2{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: calc(100% - 2rem);
                    margin: 1rem;
                    opacity: 0;
                    transition: 0.5s;
                    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
                }
                a{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: calc(100% - 2rem);
                    height: calc(100% - 2rem);
                    margin: 1rem;
                    background: rgba(0, 0, 0, 0);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 4em;
                    text-decoration: none;
                    font-weight: bold;
                    transition: 0.5s;
                    color: rgba(0, 0, 0, 0)
                }
                &:hover > a{
                    background: rgba(0, 0, 0, 0);
                    color: #fff;
                }
                &:hover > .img2{
                    opacity: 1;
                }
            }
            .back_image{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -998;
                opacity: 0;
                transition: 1s;
                img{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    min-width: 100%;
                    min-height: 100%;
                    width: auto;
                    height: auto;
                    background-size: cover;
                    overflow: hidden;
                }
                .shadow{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.4);
                }
            }
            .nomal_back{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -999;
                background-color: rgb(255, 255, 255);
            }
        }
        &:hover > header{
            color: #fff;
            text-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
        }
    }
    background: rgba(0, 0, 0, 0);
    transition: 0.5s;
    .w_back{
        position: absolute;
        top: 0;
        left: 100vw;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        transition: 0.5s;
        .w_area{
            width: 100rem;
            margin: 2rem;
            background-color: rgb(255, 255, 255);
            text-align: center;
            display: inline;
            z-index: 1;
            max-height: 100vh;
            overflow: scroll;
            .content {
                width: 100%;
                height: 53rem;
                margin: 0;
                .videos{
                    display: inline;
                    width: 70%;
                    .frame-area{
                        position: relative;
                        width: 100%;
                        height: 0;
                        padding-bottom: 56.25%;
                        overflow: hidden;
                        iframe {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                    .w-title{
                        width: 100%;
                        height: 15rem;
                        line-height: 15rem;
                        font-size: 5rem;
                    }
                }
                .desc{
                    width: 30%;
                    height: calc(100% - 2rem);
                    margin: 0 1rem 0 1rem;
                    box-shadow:0px 0px 8px 3px #ccc inset;
                    justify-content: left;
                    align-items: unset;
                    overflow: scroll;
                    -webkit-overflow-scrolling: touch
                }
            }
            .close_link{
                position: absolute;
                top: 0;
                right: 0;
                width: 5rem;
                height: 5rem;
                line-height: 5rem;
                text-decoration: none;
                background-color: rgba(0, 0, 0, 0.6);
                color: #fff;
            }
        }
        .close_area{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 0;
        }
    }
    .viw_work{
        left: 0;
    }
}

@for $num from 1 to 5 {
    #img_area#{$num}:hover + #b_image#{$num} {
        opacity: 1;
    }
}
.work:hover > .img_area > .img1{
    opacity: 0.2;
}

.work:hover > .img_area > .img1 ~ a{
    background: rgba(0, 0, 0, 0.4);
}

.button_list{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    section{
        button{
            display: block;
            height: 30px;
            width: 30px;
            font-size: 20px;
            background-color: #fff;
            border: solid 1px #000;
            border-radius: 50%;
            margin: 10px;
        }
    }
}


.center{
    height: 100vh;
}
.up,.down{
    height: 100px;
}

.m_scroll{
    overflow: scroll;
    .cover div button {
        display: none;
    }
}
.delete{
    display: none;
}

@media screen and (max-width:1024px){
    button {
        display: none;
    }
    .button_list {
        display: none;
    }
    .main{
        overflow: scroll;
    }
    .cover{
        top: 0;
    }

    .in_cover2 section .work .img_area {
        width: calc(100% - 20%);
    }
    
    .in_cover2 .w_back {
        position: fixed;
        .w_area {
            margin: 0 10rem;
            .content {
                height: calc(100vh - 10vh);
                display: inline; 
                .videos {
                    width: 100%;
                    .w-title {
                        height: 6rem;
                        line-height: 6rem;
                    }
                }
                .desc{
                    width: calc(100% - 2rem);
                    max-height: 20rem;
                    margin: 1rem 1rem 1rem 1rem;
                }
            }
        }
    }
   
} 

@media screen and (max-width:860px){
    .in_cover2 .w_back .w_area{
        margin: 4rem;
        .content .videos .w-title {
            font-size: 3rem;
            height: 5rem;
            line-height: 5rem;
        }
    }
}

@media screen and (max-width:500px){
    .in_cover2 .w_back .w_area{
        margin: 2rem;
        .content .videos .w-title {
            font-size: 2.5rem;
            height: 5rem;
            line-height: 5rem;
        }
    }
    .in_cover2 .w_back .w_area .content .desc {
        max-height: 30rem;
    }
}

@media screen and (min-height:1000px){
    .in_cover2 .w_back .w_area {
        margin: 5rem;
    }
    .in_cover2 .w_back .w_area .content .desc {
        max-height: 30rem
    }
}

@media screen and (max-height:630px){
    .main{
        overflow: scroll;
    }
    .cover{
        top: 0;
    }
}
    