*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    font-size: 62.5%;
    height: 100vh;
}
body{
    font-size: 1.6rem;
    height: 100vh;
}
body::-webkit-scrollbar {
    display: none;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
.p_cover{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0; 
    .parallax{
        height: 1000vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('./パララックス.jpg');
        background-size: 100rem;
        transition: 1.5s
    }
    @for $num from 0 to 5 {
        .p_#{$num} {
            top: -35vh * $num
        }
    }
}
.p_cover::-webkit-scrollbar {
    display: none;
}



.main{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0; 
    -webkit-overflow-scrolling:touch;
}
.cover{
    height: 500vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    div {
        min-height: calc(100% / 5);
        height: auto;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        button{
            height: 6rem;
            line-height: 2rem;
            width: 6rem;
            font-size: 2rem;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 3;
            position: absolute;
            text-align: center;
            bottom: 2rem;
            pointer-events:auto;
            span{
                position: absolute;
                top: -5%;
                left: 50%;
                width: 24px;
                height: 24px;
                margin-left: -12px;
                border-left: 1px solid rgb(255, 255, 255);
                border-bottom: 1px solid rgb(255, 255, 255);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                box-sizing: border-box;
            }
            .span2{
                top: 15%;
            }
            .span3{
                top: 35%;
            }
        }
        video{
            position: absolute;
            right: 0;
            bottom: 0;
            min-width: 100vw;
            min-height: 100vh;
            width: auto;
            height: auto;
            z-index: -999;
            background-size: cover;
        }
    }
    transition: 1.5s;
}
@for $num from 0 to 5 {
    .c_#{$num} {
        top: -100vh * $num
    }
}
@for $num  from 0 to 5 {
    .in_cover#{$num} {
        section{
            opacity: 1;
            transition: 1s
        }
    }
}
.on{
    section{
        opacity: 1;
    }
}

.in_cover0{
    section{
        h1 {
            font-size: 14vw;
            background: linear-gradient(-45deg, rgb(0, 0, 0),rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0), rgb(0, 0, 0));
            background-size: 400% 400%;
            animation: Gradient 15s ease infinite;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        @keyframes Gradient {
            0% {
                background-position: 0% 50%
            }
            50% {
                background-position: 100% 50%
            }
            100% {
                background-position: 0% 50%
            }
        }
    }
}
.in_cover1 {
    section{
        header {
            height: 60px;
            font-size: 5rem;
            font-weight: bold;
            color: rgb(0, 0, 0);
            text-shadow: 10px 10px 10px rgba(0,0,0,0.4);
            text-align: center;
        }
        .prof{
            height: 50rem;
            flex-direction: column;
            img {
                width: 17rem;
                height: 17rem;
                border-radius: 50%;
                margin-bottom: 3rem;
            }
            .p_desc {
                margin: 3rem 3rem 0 3rem;
                max-width: 52rem;
            }
        }
    }
}
.in_cover2{
    
    section{
        text-align: center;
        width: 100rem;
        pointer-events : none;
        header {
            height: 60px;
            font-size: 5rem;
            font-weight: bold;
            color: #000;
            text-shadow: 10px 10px 10px rgba(0,0,0,0.4);
            transition: 0.5s;
        }
        .work{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            pointer-events : none;
            position: static;
            .img_area {
                width: calc(50% - 2rem);
                height: auto;
                padding: 1rem;
                pointer-events:auto;
                transition: 0.5s;
                .img1{
                    width: 100%;
                    height: auto;
                    transition: 0.5s;
                    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
                }
                .img2{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: calc(100% - 2rem);
                    margin: 1rem;
                    opacity: 0;
                    transition: 0.5s;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
                }
                a{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: calc(100% - 2rem);
                    height: calc(100% - 2rem);
                    margin: 1rem;
                    background: rgba(0, 0, 0, 0);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 4em;
                    text-decoration: none;
                    font-weight: bold;
                    transition: 0.5s;
                    color: rgba(0, 0, 0, 0)
                }
                &:hover > a{
                    background: rgba(0, 0, 0, 0);
                    color: #fff;
                }
                &:hover > .img2{
                    opacity: 1;
                }
            }
            .back_image{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -998;
                opacity: 0;
                transition: 1s;
                img{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    min-width: 100%;
                    min-height: 100%;
                    width: auto;
                    height: 100%;
                    background-size: cover;
                    overflow: hidden;
                }
                .shadow{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.6);
                }
            }
            .nomal_back{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -999;
                transition: 0.5s;
            }
            &:hover > .nomal_back {
                background-color: #fff;
            }
        }
        &:hover > header{
            color: #fff;
            text-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
        }
    }
    background: rgba(0, 0, 0, 0);
    transition: 0.5s;
    .w_back{
        position: absolute;
        top: 0;
        left: 100vw;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        transition: 0.5s;
        z-index: 999;
        .w_area{
            width: 100rem;
            margin: 2rem;
            background-color: rgb(255, 255, 255);
            text-align: center;
            display: inline;
            z-index: 1;
            max-height: 100vh;
            overflow: scroll;
            .content {
                width: 100%;
                height: 53rem;
                margin: 0;
                .videos{
                    display: inline;
                    width: 70%;
                    .frame-area{
                        position: relative;
                        width: 100%;
                        height: 0;
                        padding-bottom: 56.25%;
                        overflow: hidden;
                        iframe {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                        img {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            min-width: 100%;
                            min-height: 100%;
                            width: 100%;
                            height: 100%;
                            background-size: cover;
                            overflow: hidden;
                        }
                    }
                    .w-title{
                        width: 100%;
                        height: 15rem;
                        line-height: 15rem;
                        font-size: 5rem;
                        span{
                            color: greenyellow;
                        }
                    }
                }
                .desc{
                    width: 30%;
                    height: calc(100%);
                    margin: 0 ;
                    box-shadow:0px 0px 8px 3px #ccc inset;
                    display: inline;
                    text-align: left;
                    overflow: scroll;
                    -webkit-overflow-scrolling: touch;
                    .d_text{
                        margin: 1rem;
                    }
                    .links {
                        font-size: 2.5rem;
                        margin: 1rem;
                        a{
                            text-decoration: none;
                            background-color: #fff;
                            color: #000;
                            border: #000 solid 0.1rem;
                            font-size: 1.5rem;
                            font-weight: bold;
                            padding: 0.5rem;
                            border-radius: 50px;
                        }
                    }
                    .used {
                        margin: 1rem;
                        color: rgb(110, 110, 110);
                        font-size: 1.2rem;
                    }
                }
                ::-webkit-scrollbar {
                    -webkit-appearance: none;
                    width: 7px;
                }
                ::-webkit-scrollbar-thumb {
                    border-radius: 4px;
                    background-color: rgba(0,0,0,.5);
                    box-shadow: 0 0 1px rgba(255,255,255,.5);
                }
            }
        }
        .close_area{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 0;
        }
        .close_link{
            position: absolute;
            top: 1rem;
            left: 1rem;
            width: 5rem;
            height: 5rem;
            line-height: 5rem;
            text-decoration: none;
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;
            text-align: center;
            pointer-events: auto;
            z-index: 1;
        }
    }
    .viw_work{
        left: 0;
    }
}

.in_cover3{
    section{
        header {
            height: 60px;
            font-size: 5rem;
            font-weight: bold;
            color: #000;
            text-shadow: 10px 10px 10px rgba(0,0,0,0.4);
            text-align: center;
        }
        .skils_area{
            width: 100rem;
            height: 50rem;
            .s_link{
                position: absolute;
                width: calc((100% / 4) - (100% / 20));
                height: calc((100% / 2) - (100% / 10));
                margin: 2.5rem;
                background-color: rgb(253, 177, 177);
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
                transition: 0.5s;
                .s_area {
                    display: inline;
                    text-align: center;
                    width: 57rem;
                    opacity: 0;
                    transition: 0.5s;
                    .s_name {
                        font-size: 7rem;
                    }
                    .s_time {
                        margin-bottom: 2rem;
                    }
                    .s_desc {
                        text-align: left;
                        margin-bottom: 2rem;
                    }
                }
                .s_area_view {
                    opacity: 1;
                }
                a {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: #000;
                    font-size: 2.5rem;
                    transition: 0.5s;
                    white-space: nowrap;
                }
                &:hover {
                    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.6);
                }
            }
            .s_link1 {
                background-color: #ff9191;
            }
            .s_link2 {
                background-color: #ff9191; 
            }
            .s_link3 {
                background-color: #ffd780;
            }
            .s_link4 {
                background-color: #ffd780;
            }
            .s_link5 {
                background-color: #7fd0ee;
            }
            .s_link6 {
                background-color: #7fd0ee; 
            }
            .s_link7 {
                background-color: #8ce98c;
            }
            .s_link8 {
                background-color: #8ce98c;
            }
            @for $num from 1 to 5 {
                .s_link#{$num} {
                    top: 0;
                    left: calc((25% * #{$num}) - 25%);
                }
            }
            @for $num from 5 to 9 {
                .s_link#{$num} {
                    top: 50%;
                    left: calc((25% * (#{$num} - 4) - 25%));
                }
            }
            .skill_viw{
                top: 0;
                left: 0;
                margin: 2.5rem;
                width: calc(100% - 5rem);
                height: calc(100% - 5rem);
                box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.6);
                a {
                    color: rgb(170, 170, 170);
                    font-size: 16rem;
                    opacity: 0.2;
                }
                &:hover {
                    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.6);
                }
            }
            .s_over {
                z-index: 2;
            }
        }
    }
}
.in_cover4 {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    section{
        header {
            height: 60px;
            font-size: 5rem;
            font-weight: bold;
            color: rgb(255, 255, 255);
            text-shadow: 10px 10px 10px rgba(0,0,0,0.4);
            text-align: center;
        }
        .other_area{
            height: 50rem;
            flex-direction: column;
            h2{
                font-size: 4rem;
            }
            p {
                font-size: 2.5rem;
                margin-bottom: 2rem;
                a{
                    text-decoration: none;
                    background-color: #fff;
                    color: #000;
                    font-size: 2.5rem;
                    font-weight: bold;
                    padding: 0.5rem;
                    border-radius: 50px;
                    margin: 1rem;
                }
            }
            
        }
        p {
            font-size: 2.5rem;
            text-align: center;
        }
    }
}

@for $num from 1 to 5 {
    #img_area#{$num}:hover + #b_image#{$num} {
        opacity: 1;
    }
}
.work:hover > .img_area > .img1{
    opacity: 0;
}

.work:hover > .img_area > .img1 ~ a{
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.button_list{
    position: fixed;
    top: 0;
    right: 2rem;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    section{
        button{
            justify-content: flex-end;
            display: block;
            height: 3.5rem;
            width: 3.5rem;
            font-size: 1.5rem;
            background-color: rgb(255, 255, 255);
            border: solid 0.3rem #000;
            border-radius: 50%;
            margin: 1rem 0 1rem auto;
            transition: 0.2s;
            overflow: hidden;
            p {
                opacity: 0;
            }
            &:hover{
                border-radius: 50px;
                width: 6rem;
                transition: 0.2s;
                p {
                    opacity: 1;
                }
            }
        }
        .b_on{
            background-color: #ff9191;
        }
    }
}


.center{
    height: 100vh;
}
.up,.down{
    height: 100px;
}

.m_scroll{
    overflow: scroll;
    .cover div button {
        display: none;
    }
}
.delete{
    display: none;
}

@media screen and (max-width:1024px){
    button {
        display: none;
    }
    .button_list {
        display: none;
    }
    .main{
        overflow: scroll;
    }
    .p_cover {
        overflow: scroll
    }
    .parallax{
        top: 0;
    }
    .cover{
        top: 0;
    }
    .parallax{
        height: 1000vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        background-image: url('./パララックス.jpg');
        background-size: 100rem;
        transition: 1.5s;
        overflow: scroll;
    }

    .in_cover2 section .work .img_area {
        width: calc(100% - 20%);
    }

    .in_cover2 section .work:hover > .nomal_back {
        background-color: rgba(255, 255, 255, 0);
    }
    
    .in_cover2 .w_back {
        position: fixed;
        .w_area {
            margin: 0 10rem;
            .content {
                height: calc(100vh - 10vh);
                display: inline; 
                .videos {
                    width: 100%;
                    .w-title {
                        height: 8rem;
                        line-height: 8rem;
                    }
                }
                .desc{
                    width: calc(100%);
                    max-height: 20rem;
                    margin: 0;
                }
            }
        }
    }

    @for $num from 1 to 5 {
        #img_area#{$num}:hover + #b_image#{$num} {
            opacity: 0;
        }
    }
    .work:hover > .img_area > .img1{
        opacity: 1;
    }
    .work:hover > .img_area > .img1 ~ a{
        background: rgba(0, 0, 0, 0);
    }
    .in_cover2 section:hover > header {
        color: #000;
        text-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    }

    .in_cover3{
        margin-bottom: 10rem;
        section{
            header {
                margin-top: 10rem;
            }
            .skils_area{
                width: 45vh;
                height: 90vh;
                .s_link{
                    position: absolute;
                    width: calc((100% / 2) - 2rem);
                    height: calc((100% / 4) - 2rem);
                    margin: 1rem;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
                    transition: 0.5s;
                    .s_area {
                        display: inline;
                        text-align: center;
                        width: 90%;
                        opacity: 0;
                        transition: 0.5s;
                        .s_name {
                            font-size: 2.5rem;
                            text-decoration: underline;
                        }
                        .s_time {
                            margin-bottom: 2rem;
                        }
                        .s_desc {
                            text-align: left;
                            margin-bottom: 2rem;
                        }
                    }
                    .s_area_view {
                        opacity: 1;
                    }
                    a {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
                        color: #000;
                        font-size: 1.5rem;
                        transition: 0.5s;
                        white-space: nowrap;
                    }
                    &:hover {
                        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
                    }
                }

                @for $num from 1 to 3 {
                    .s_link#{$num} {
                        top: 0;
                        left: calc((50% * #{$num}) - 50%);
                    }
                }
                @for $num from 3 to 5 {
                    .s_link#{$num} {
                        top: 25%;
                        left: calc((50% * #{$num}) - 150%);
                    }
                }
                @for $num from 5 to 7 {
                    .s_link#{$num} {
                        top: 50%;
                        left: calc((50% * #{$num}) - 250%);
                    }
                }
                @for $num from 7 to 9 {
                    .s_link#{$num} {
                        top: 75%;
                        left: calc((50% * #{$num}) - 350%);
                    }
                }
                .skill_viw{
                    top: 0;
                    left: 0;
                    margin: 1rem;
                    width: calc(100% - 2rem);
                    height: calc(100% - 2rem);
                    a {
                        color: rgb(170, 170, 170);
                        font-size: 5rem;
                        opacity: 0.2;
                    }
                }
                .s_over {
                    z-index: 2;
                }
            }
        }
    }
   
} 

@media screen and (max-width:860px){
    .in_cover2 .w_back .w_area{
        margin: 4rem;
        .content .videos .w-title {
            font-size: 3rem;
            height: 5rem;
            line-height: 5rem;
        }
    }
}

@media screen and (max-width:500px){
    .in_cover2 .w_back .w_area{
        margin: 2rem;
        .content .videos .w-title {
            font-size: 2.5rem;
            height: 5rem;
            line-height: 5rem;
        }
    }
    .in_cover2 .w_back .w_area .content .desc {
        max-height: 30rem;
    }
}

@media screen and (min-height:1000px){
    .in_cover2 .w_back .w_area {
        margin: 5rem;
    }
    .in_cover2 .w_back .w_area .content .desc {
        min-height: 30rem
    }
    .in_cover3{
        section{
            header {
            }
            .skils_area{
                .s_link{
                    .s_area {
                        .s_name {
                            font-size: 5.5rem;
                        }
                        .s_time {
                            font-size: 3rem;
                        }
                        .s_desc {
                            font-size: 3rem;
                        }
                        .s_use {
                            font-size: 3rem;
                        }
                    }
                    a {
                        font-size: 3rem;
                        transition: 0.5s;
                    }
                }
                .skill_viw{
                    a {
                        color: rgb(170, 170, 170);
                        font-size: 10rem;
                        opacity: 0.2;
                    }
                }
            }
        }
    }
}


@media screen and (max-height:630px){
    .main{
        overflow: scroll;
    }
    .cover{
        top: 0;
    }
}
    